body {
	color:#2a2f31;
	font-size:62.5%;
	font-family: 'Palanquin', sans-serif;
	font-weight: 400;
}
h1 {
	font-size:4.5em;
	text-transform: uppercase;
	font-weight: 900;
}
h2 {
	font-size:8em;
}
p {
	font-size: 3em;
	line-height:1.3;
	font-weight: 500;
}
p2 {
	font-size: 1.5em;
	line-height:1.3;
	font-weight: 500;
	color:#ffffff;
}
.main a {
	font-size: 3em;
	line-height:1.3;
	font-weight: 400;
}
h2 + p {
	font-size:3em;
}
/*FLEXBOX*/
.wrapper{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.columns{
  display: flex;
  flex: 1;


/*  text-align: center;
  width:35%;
  top: 47%;
  transform: translateY(-47%);
  margin:0 auto;*/
}

.main{
/*  width: 30%;*/
  margin-top: 20%;
  height:100%;
  position:relative;
  text-align: center;
  flex: 1;
  background: ;
}
.graphics{
  height:100%;
  width:35%;
  margin:0 auto;
}
.emphasis{
	color: #f85d00;
	font-weight: 600;
}
.emphasis2{
	font-weight: 600;
}
.white-text-header h1 {
	color:#ffffff;
}
.white-text p {
	color:#ffffff;
}

/*GRAPHICS*/
.circle {
	text-align: center;
    width:35%;
	position: relative;
	top: 47%;
	transform: translateY(-47%);
	margin:0 auto;

	width: 400px;
	height: 400px;
/*	background-color: #f85d00;*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
/*	border-radius: 200px;*/

	overflow: hidden;
}

/*SECTIONS*/
.vertical-center {
	text-align:center;
    width:50%;
	position: relative;
	top: 47%;
	transform: translateY(-47%);
}
.vertical-center p {
	margin-top:23px;
}
.inner {
	position: relative;
	height:100%;
	width:80%;
	margin:0 auto;
}
.panel-white {
	background-color:rgba(255,255,255);
}
.panel-orange {
	background-color:rgba(248,93,0);
}
.panel-grey {
	background-color:rgba(42,47,49);
/*	background-color:rgba(55,130,133);*/
}
.asterisk {
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.asterisk:hover {
	color:#f85d00;
}

 /*Right Section Indicators*/

.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);
	font-size:1.2em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:15px;
	margin-bottom:5px;
	color:#2a2f31;
	position:relative;
	padding:4px;
	text-transform: uppercase;
	font-weight: 600;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}


/*Button on first page*/

.vertical-center p.cta {
	margin-top:5px;
}
.vertical-center a:link,
.vertical-center a:visited {
	font-weight:600;
	color:#fffff;
	text-transform: uppercase;
	font-size:0.5em;
}
.button {
	margin-top:60px;
    background-color: #f85d00; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
	background-color: #fb7523;
}

/*BUTTON IN ACTION SECTION*/
.button2 {
	margin-top:60px;
    background-color:#2a2f31; 
    border: none;
    border-radius: 4px;
    color:#ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2:hover {
	background-color: #3a4042;
}
.vertical-center2 p.cta {
	margin-top:5px;
}
.vertical-center2 a:link,
.vertical-center2 a:visited {
	font-weight:600;
	color:#ffffff;
	text-transform: uppercase;
	font-size:0.5em;
}
/*.white-text h1{
	color:#fffff;
}
*/
/*SOURCES SECTION*/
.sources{
/*  width: 90%;*/
  margin-top: 5%;
  height:100%;
  position:relative;
  text-align: center;
/*  flex: 1;*/
}







/*.vertical-center3 p.cta {
	margin-top:5px;
}*/
/*.vertical-center3 a:link,
.vertical-center3 a:visited {
	background-color:none;
	color:#ffffff;
	font-size:0.5em;
}
.vertical-center3 {
	text-align:center;
    width:100%;
	position: relative;
	top: 47%;
	transform: translateY(-65%);
}
.vertical-center3 p {
	margin-top:23px;
}*/

*/
}

 
FOR TYPING ANIMATION
 
.animation-container{
	height: 300px;
}
.reg_ai{
	display:table;
	width:100%;
	height: 100%;
}

 .typewriter:after {
  border-right: 0.05em solid #2a2f31;
  animation: caret_typewriter 1s steps(1) infinite;
  content: "";
}
@-webkit-keyframes{
  50% {
    border-color: transparent;
  }
}
@keyframes caret_typewriter {
  50% {
    border-color: transparent;
  }
}

MEDIA QUERIES
@media (max-width:800px) {
	h1 {
		font-size:12vw;;
	}
	h2 {
		font-size:12vw;
	}
	.inner {
		width:70%;
		img{
		height: 90%;
		width: 90%;
	}
	.columns {
		display: block;
	}
	.graphics {
		height: auto;
		width: calc(100% - 20px);
	}
	.circle {
		transform: none;
		height: auto;
		width: calc(100% - 20px);
	}
	.vertical-center {
		width: 100%;
	}
	.typewriter {
		font-size: 25px;
	}
}

@media (max-width: 600px) {
	img{
		height: 90%;
		width: 90%;
	}
	.columns {
		display: block;
	}
	.graphics {
		height: auto;
		width: calc(100% - 20px);
	}
	.circle {
		transform: none;
		height: auto;
		width: calc(100% - 20px);
	}
	.vertical-center {
		width: 100%;
	}
	.typewriter {
		font-size: 25px;
	}
}